<% content_for :title do %>Register your account<% end %>
<% content_for :tab do %>register<% end %>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><span class="require">*</span>:<br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><span class="require">*</span>:<br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><span class="require">*</span>:<br />
    <%= f.password_field :password %>
  </p>
 <p>
    <%= f.label :password_confirmation %><span class="require">*</span>:<br />
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.label :secretkey %><span class="require">*</span>:<br />
    <%= f.password_field :secretkey %>
    <i>Don't forget it - this key will encrypt all your data</i>
  </p>
 
  <p>
    <%= f.label :secretkey_confirmation %><span class="require">*</span>:<br />
    <%= f.password_field :secretkey_confirmation %>
  </p>
  
  <p id="submit-button"><%= f.submit "Submit" %> or <%= link_to 'Cancel', '/' %></p>
<% end %>
