<% content_for :title do %>View identity <%=h @identity.name %> <% end %>
  
  <span style="font-size: 200%" id="title-identity">View identity</span> <span class="hideme"> <%= link_to 'Edit' , @identity, :id => 'edit' %></span><span class="editme" style="display:none"><%= link_to 'Cancel' , @identity, :id => 'cancel' %></span> or  <%= link_to 'Delete' , @identity, :id => 'delete' %>


<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
<script type="text/javascript">
    var url;
    $(document).ready(function(){
        $("#delete").click(function(e){
            event.preventDefault();
            url = this.href;
            $("#confirmation").dialog('open');
            });
        $("#edit").click(function(e){
            event.preventDefault();
            $(".editme").toggle();
            $(".hideme").toggle();
            $('<span style="font-size: 200%" id="title-identity">Edit identity</span>').replaceAll('#title-identity');
          });
        $("#cancel").click(function(e){
            event.preventDefault();
            $("span.editme").toggle();
            $("span.hideme").toggle();
            $('<span style="font-size: 200%" id="title-identity">View identity</span>').replaceAll('#title-identity');
           });
        $("#confirmation").dialog({
            autoOpen: false,
            modal: true,
            closeOnEscape: false,
            resizable: false,
            buttons : {
                "Yes" : function() {              
                    $(this).dialog("close");
                    $('<form method="post" action="' + url.replace('/delete', '') + '" />')
                        .append('<input type="hidden" name="_method" value="delete" />')
                        .append('<input type="hidden" name="authenticity_token" value="' + AUTH_TOKEN + '" />')
                        .appendTo('body')
                        .submit();
                     return false;
                },
                "No" : function() {
                $(this).dialog("close");
                }
           }
        });         
    });
</script>

<div id="confirmation" title="Delete confirmation"><center>Are you sure ?</center></div>



<% form_for(@identity) do |f| %>
  <%= f.error_messages %>

<p>
<%= f.label :name %>: <span class="hideme"><%= @identity.name%></span> <span class="editme" style="display:none"><%= f.text_field :name %></span>
</p>
<p>
  <%= f.label :url %>: <span class="hideme"><%= @identity.url%></span> <span class="editme" style="display:none"><%= f.text_field :url %></span>
</p>
<p>
<%= f.label :login %>: <span class="hideme"><%= @identity.login%></span> <span class="editme" style="display:none"><%= f.text_field :login %></span>
</p>
<p>
  <%= f.label :password %>: <span class="hideme"><%= @identity.password%></span> <span class="editme" style="display:none"><%= f.text_field :password %></span>
</p>
<p>
  <%= f.label :comment %>:<br />
  <span class="hideme"><%= @identity.comment%></span> <span class="editme" style="display:none"><%= f.text_area :comment , :rows => '3', :cols => '30'%></span>
</p>

  <p class="editme" style="display:none">
    <%= label_tag :secretkey %>: <%= password_field_tag :secretkey %>
  </p>


  <p class="editme" style="display:none">
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', identities_path %>
