<% content_for :title do %>Edit identity <%=h @identity.name %> <% end %>



<h1>Editing identity</h1>


<% form_for(@identity) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %> or <%= link_to 'Delete', @identity, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<%= link_to 'Cancel', identities_path %>
