<% content_for :title do %>Your identities<% end %>

  <h1>welcome <%=h current_user.username %>, here are your known identities:</h1>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%> 
<script type="text/javascript">
    var url;
    $(document).ready(function(){
        $("a.view").click(function(event){
            event.preventDefault();
            url = this.href;
            $("#dialog").dialog("destroy");
            $("#dialog-form").dialog('open');
            $("#secretkey:last").focus();
        });
        $('#dialog-form').find('input').keypress(function(e) {
                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                        $(this).parent().parent().parent().parent().find('.ui-dialog-buttonpane').find('button:first').click(); /* Assuming the first one is the action button */
                        return false;
                }
        });
        $("#dialog-form").dialog({
           autoOpen: false,
            modal: true,
            closeOnEscape: false,
            resizable: false,
            buttons: {
                'Get credentials': function() {
                $(this).dialog('close');
                id = url.slice(url.lastIndexOf("/")+1,url.length);
                url = url.slice(0,url.lastIndexOf("/")+1) + "edit";
                var secretkey = $("#secretkey").val();
                $('<form method="post" action="' + url + '" />')
                        .append('<input type="hidden" name="id" value="'+id+'" />')
                        .append('<input type="hidden" name="secretkey" value="'+secretkey+'" />')
                        .append('<input type="hidden" name="action" value="edit" />')
                        .append('<input type="hidden" name="_method" value="edit" />')
                        .append('<input type="hidden" name="authenticity_token" value="' + AUTH_TOKEN + '" />')
                        .appendTo('body')
                        .submit();
                return false;
                },
                'Cancel': function() {                
                  $(this).dialog('close');
                }
            },
            Cancel: function() {
                  $(this).dialog('close');
            }
        });         
    });
</script>

<div id="dialog-form" title="Display identity" style="disply:none">
  <p>Please enter your secret key to access to your credentials</p>
  <form>
    <%= label_tag :secretkey %>: <%= password_field_tag :secretkey, nil, :class => 'text ui-widget-content'  %>
  </form>
</div>

<table>
  <tr>
    <th>Identity</th>
    <th>Url</th>
  </tr>

<% @identities.each do |identity| %>
  <tr>
    <td><%=h identity.name %></td>
    <td><%=h identity.url %></td>
    <td><%= link_to 'View', identity, :class => 'view' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New identity', new_identity_path %>
