<% content_for :title do %>Create new identity<% end %>
<% content_for :tab do %>identity<% end %>


<% form_for(@identity) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><span class="require">*</span> : <br /><%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %>: <br /><%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :login %><span class="require">*</span>: <br /><%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><span class="require">*</span>: <br /><%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :comment %>: <br /><%= f.text_area :comment, :rows => "3", :cols => '30' %>
  </p>
  <p>
    <%= label_tag :secretkey %><span class="require">*</span>: <br /><%= password_field_tag :secretkey %>
  </p>

  <p id="submit-button">
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', identities_path %>
