<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Vauban - <%= h(yield(:title) || "Untitled")%></title>
  <%= stylesheet_link_tag 'scaffold','jquery-ui' %>
  <%= javascript_include_tag "jquery", "jquery-ui", "application" %>
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <style>
    .validateTips { border: 1px solid transparent; }  
  </style>  
</head>

<body>


  <div id="user_nav">
    [BETA VERSION] 
    <%= link_to 'Feedback', '/feedbacks', :class => 'feedback' %> |
    <% if controller.controller_name != "application" %>
      <%= link_to "About Vauban", :controller => "application", :action => "index" %> |
    <% end %>
    <% if current_user %>
      <%= link_to "My identities", :controller => "identities", :action => "index" %> |
      <%= link_to "My Profile", edit_user_path(:current) %> |
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", login_path %>
    <% end %>
  </div>

<div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end -%>
</div>

<%= yield %>

<%= feedback_form %>

<center>
  <BR/>
  Vauban is proudly forged by <%= link_to "Zeneffy::Labs", "http://labs.zeneffy.fr"%><BR/>
  Copyright &copy;2010 J.Raigneau. All rights reserved.
</center>
</body>
</html>
