<% content_for :title do %>Your identities<% end %>

  <h1>welcome <%=h current_user.username %>, here are your known identities:</h1>


<table>
  <tr>
    <th>Identity</th>
    <th>Url</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%=h account.name %></td>
    <td><%=h account.url %></td>
    <td><%= link_to 'View', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Delete', account, :confirm => 'Are you sûr?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New identity', new_account_path %>
