<% content_for :title do %>Show identity <%=h @account.name %> <% end %>

<h1><%=h @account.name %></h1>

<p>
  <b>Url:</b>
  <%=h @account.url %>
</p>

<p>
  <b>Login:</b>
  <%=h @account.login %>
</p>

<p>
  <b>Password:</b>
  <%=h @account.password %>
</p>

<p>
  <b>Comment:</b>
  <%=h @account.comment %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
